{% extends 'base.html' %}  
  
{% block content %}  
    <ul class="nav flex-column">  
        <!-- Iterate over object_list -->  
        {% for object in object_list %}  
        <!-- Display Objects -->  
        <li class="nav-item">book_Name: {{ object.name }}</li>  
        <li class="nav-item">book_QTY: {{ object.qty }}</li>  
        <li class="nav-item">book_price: {{ object.price }}</li>  
        <li class="nav-item">book_author: {{ object.author }}</li>  
  
        <hr/>  
        <!-- If object_list is empty -->  
        {% empty %}  
        <li class="nav-item">No objects Find</li>  
        {% endfor %}  
    </ul>  
  
{% endblock content %}  