{% load static %}
<html>
    <body style="background-color:skyblue;">
    <head>
        <title>Welcome to Labrary page</title>
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" >
    </head>
    <style>
        .required::before{
            content: " * ";
            color: red;
        }
    </style>

    <body style = "color:black">
        <h2> Library Application</h2><hr>
        <form action="{% url 'home_page' %}" method="post">
            {% csrf_token %}

            {% if single_book%}
            <label class="required"> Book ID :- </label>
                <input type="text" name="book_id" value="{{single_book.id}}" readonly><br><br>
            {% endif %}
            <label class="required"> Name :- </label>
                <input type="text" name="book_name" value="{{single_book.name}}" placeholder="Enter book name" required><br><br>
            <label class="required"> Quantity:-  </label>
                <input type="number" name="book_qty" value="{{single_book.qty}}" required><br><br>
            <label class="required"> Price :-</label>
                <input type="number" name="book_price" value="{{single_book.price}}" required><br><br>
            <label class="required"> Author :- </label>
                <input type="text" name="book_author" value="{{single_book.author}}" required><br><br>          
            
            <label class="required :-"> Is Published :- </label>
                {% if single_book %}
                    {% if single_book.is_published == True %}
                        YES <input type="radio" name="book_is_pub" value="Yes" checked> NO <input type="radio" name="book_is_pub" value="No"><br><br>
                    {% else %}
                        YES <input type="radio" name="book_is_pub" value="Yes" > NO <input type="radio" name="book_is_pub" value="No" checked><br><br>
                    {% endif %}
                {% else %}
                    YES <input type="radio" name="book_is_pub" value="Yes" > | NO <input type="radio" name="book_is_pub" value="No"><br>
                {% endif %}
            
            
            &emsp; <input type="submit" class="btn btn-primary" value="Submit"> &ensp; &emsp; 
            &emsp; <input type="reset" value="Reset">

        </form>
    <a href="{% url 'all_active_books' %}"class="btn btn-success">Show Active Books</a>&ensp;
    
    <a href="{% url 'all_inactive_books' %}" class="btn btn-warning">Show In-Active Books</a>&ensp;

    <a href="{% url 'logout_user' %}" class="btn btn-primary">Logout</a>&ensp;
    
    <a href="{% url 'csv_export' %}" method="post" class="btn btn-warning">csv export</a>&ensp;

    <a href="{% url 'create_excel' %}" method="post" class="btn btn-danger">Sample Excel</a>&ensp;

    <a href="{% url 'active_book' %}"  target="_blank" method="post" class="btn btn-success">book Excel</a><br>&ensp;
    

    
    <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" >
        &emsp; <input type="submit" class="btn btn-primary" value="Upload CSV">&ensp;
        <a href="{% url 'download_csv' %}"  target="_blank" method="post" class="btn btn-danger">Download Sample</a>
    </form>
    <!-- <a href="{% url 'download_csv' %}"  target="_blank" method="post" class="btn btn-danger">Download Sample</a> -->



    <!-- <a href="{% url 'readfile' %}"  target="_blank" method="post" class="btn btn-warning">read text file</a>&ensp; -->
    
    <form action="{% url 'readfile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="txt_file" >
        &emsp; <input type="submit" class="btn btn-primary" value="read file">&ensp;
    </form>


    <a href="{% url 'raw_queries' %}" method="post" class="btn btn-success">Raw_csv</a>&ensp;

    </body>
</body>
</html>