{% load static %}
<html>
    <body style="background-color:skyblue;">
    <head>
        <title>Welcome to Labrary page</title>
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" >
    </head>
    <style>
        .required::before{
            content: " * ";
            color: red;
        }
    </style>

    <body style = "color:black">
        <h2> Library Application</h2><hr>
        <form action="{% url 'book_form' %}" method="post">
            {% csrf_token %}
                {{form.as_p}}
            
            
            &emsp; <input type="submit" class="btn btn-primary" value="Submit"> &ensp; &emsp; 
            &emsp; <input type="reset" value="Reset">

        </form>
    <a href="{% url 'all_active_books' %}"class="btn btn-warning">Show Active Books</a>
    
    <a href="{% url 'all_inactive_books' %}" class="btn btn-warning">Show In-Active Books</a>

    </body>

</body>

</html>